body {
    background-color: black;
    color: white;
}
#title {
    text-align: center;

}
#chessBoard {
    

    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border: solid #0026ff;
}
.square{
    width: 60px;
    height: 60px;
    display: inline-block;
    margin: 0px;
  }
