<html>
    <head>
        <!-- For sockets -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
        <!-- Vue - Front End Framework -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.js"></script>
        <!-- Cryptography  - Framework-->
        <script src="https://cdn.jsdelivr.net/npm/node-forge@0.7.0/dist/forge.min.js"></script>
        <script src="https://cdn.rawgit.com/CryptoStore/crypto-js/3.1.2/build/rollups/aes.js"></script>
        <script src="https://cdn.rawgit.com/CryptoStore/crypto-js/3.1.2/build/components/mode-cfb-min.js"></script>
        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css')}}"/>
        <title>Chess</title>
      </head>

      <body>
          <h1 id="title">IFI Chess</h1>

          <div id="chessBoard">

          </div>


          <script src="{{ url_for('static', filename='javascript/tiles.js') }}"></script>
          <script src="{{ url_for('static', filename='javascript/board.js') }}"></script>
          <script src="{{ url_for('static', filename='javascript/main.js') }}"></script>

      </body>

</html>