<html>
    <head>
        <!-- For sockets -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
        <!-- Vue - Front End Framework -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.js"></script>
        <!-- Cryptography  - Framework-->
        <script src="https://cdn.jsdelivr.net/npm/node-forge@0.7.0/dist/forge.min.js"></script>
        <script src="https://cdn.rawgit.com/CryptoStore/crypto-js/3.1.2/build/rollups/aes.js"></script>
        <script src="https://cdn.rawgit.com/CryptoStore/crypto-js/3.1.2/build/components/mode-cfb-min.js"></script>
        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css')}}"/>
        <title>Chess</title>
      </head>

      <body>
          <h1 id="title">IFI Chess</h1>

          <div id="chessBoard">

          </div>

          <div id="lobby">
              <button onclick="setColor('white')" id='white' class="button">Play as White</button>
              <button onclick="setColor('black')" id='black' class="button">Play as Black</button>
              <p id="message"></p>

              <div id="users">

              </div>
              <div id="play">
                  <button onclick="play_game()" class="button">Play</button>
    
              </div>
          </div>



          <script src="{{ url_for('static', filename='javascript/pawn.js') }}"></script>
          <script src="{{ url_for('static', filename='javascript/king.js') }}"></script>
          <script src="{{ url_for('static', filename='javascript/queen.js') }}"></script>
          <script src="{{ url_for('static', filename='javascript/bishop.js') }}"></script>
          <script src="{{ url_for('static', filename='javascript/rook.js') }}"></script>
          <script src="{{ url_for('static', filename='javascript/player.js') }}"></script>
          <script src="{{ url_for('static', filename='javascript/knight.js') }}"></script>
          <script src="{{ url_for('static', filename='javascript/tiles.js') }}"></script>
          <script src="{{ url_for('static', filename='javascript/board.js') }}"></script>
          <script src="{{ url_for('static', filename='javascript/main.js') }}"></script>

      </body>

</html>